.kb-form {
    background: #f8f8fb;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    max-width: 820px;
    margin: 24px auto 0 auto;
}
.kb-fieldset {
    margin-bottom: 14px;
    border: 1.5px solid #c6c6d4;
    border-radius: 6px;
    background: #fff;
    padding: 14px 16px 10px 16px;
}
.kb-fieldset legend {
    font-weight: bold;
    font-size: 1.1em;
    color: #414168;
    margin-bottom: 8px;
    padding: 0 5px;
}
.kb-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
}
.kb-label {
    width: 130px;
    font-weight: 500;
    color: #34345a;
    margin-top: 6px;
}
.kb-input {
    flex: 1;
    min-height: 40px;
    margin-right: 12px;
    font-size: 1em;
    border-radius: 4px;
}
.kb-ckeditor {
    min-height: 120px;
}
.kb-actions {
    margin-top: 18px;
}
#save-message {
    margin-top: 8px;
    font-size:1.05em;
}
.button-danger {
    background: #da4567;
    color: #fff;
}
.kb-table th, .kb-table td {
    text-align:right;
}
.kb-search-form {
    margin-bottom: 20px;
}
.kb-btn-tree {
    background: linear-gradient(90deg,#47ad55 0,#46dd95 100%);
    color: #fff;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(34,212,100,.15);
    font-weight: 700;
    transition: 0.15s;
    border-radius: 12px;
    padding: 0.7em 1.7em;
}
.kb-btn-tree:hover,
.kb-btn-tree:focus {
    background: linear-gradient(90deg,#38c83b 0,#18e295 80%);
    color: #fff;
    box-shadow: 0 4px 16px 0 rgba(34,212,100,.30);
    transform: scale(1.04);
    outline: none;
}
.kb-btn-tree span:first-child {
    margin-left: 8px;
}
